.containerPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boxPost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    width: 10em;
    padding: 1em;
    background-color: red;
    margin: 0 1em 1em 0;
    color: white;

    .title {
        font-weight: bold;
    }
}



.getButton {
    margin: 1em 0;
    padding: 1em;
    background-color: red;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: darkred;
    }
}

.deleteButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    background-color: white;
    cursor: pointer;
    color: red;
    &:hover{
        background-color: darkred;
        color: white
    }
}