.containerPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 0;
}
.adminOptions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    height: 4em;
    margin-top: 1em;


    .adminButton {display: flex;
        justify-content: center;
        align-items: center;
        margin-right:  1em;
        padding: .6em;
        width: 4em;
        background-color: $backcolor;
        color: white;
        cursor: pointer;
        transition: .5s cubic-bezier(.26,.08,.33,1);
        box-shadow: .5em .5em 0 0 $shadow;
        &:hover{
            background-color: $shadowhover;
            box-shadow: .2em .2em 0 0 $hover;
            font-weight: bold;
        }
        &:active{
            transition: cubic-bezier(.26,.08,.33,1);
            background-color: $hover;
            box-shadow: .2em .2em 0 0 $shadowhover;
        }
    }

    .inputFilters{
        all: unset;
        background-color:  white;
        border: .1em solid $backcolor;
        padding: .5em;
        width: 4em;
        margin-right: 1em;
        transition: .5s cubic-bezier(.26,.08,.33,1);
        box-shadow: .5em .5em 0 0 $shadow;
        color: $shadowhover;
        &:hover{
            box-shadow: .2em .2em 0 0 $hover;
        }
        &:focus {
            padding: .6em;
            box-shadow: .2em .2em 0 0 $shadowhover;
            border: none;
            animation: cardAnimation 1s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        }
        
    }

    @keyframes cardAnimation {
        from {box-shadow: .1em .1em 0 0 $shadowhover}
        to {box-shadow: .5em .5em 0 0 $shadowhover}
    }
    
}

.boxPost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 1em 1em 1.5em 1em;
    background-color: $backcolor;
    box-shadow: .5em .5em 0 0 $shadow;
    margin: 0 1em 1em 0;
    transition: .5s cubic-bezier(.26,.08,.33,1);
    &:hover{
        background-color: $shadow;
        box-shadow: .5em .5em 0 0 $shadowhover;
    }

    .title {
        font-weight: bold;
        color: white;
    }

    .text{
        color: white;
    }

}

.boxButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;

    .cardButton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5em;
        padding: 1em;
        font-size: .8em;
        background-color: white;
        cursor: pointer;
        color:$shadowhover;
        transition: .5s cubic-bezier(.26,.08,.33,1);
        &:hover{
            background-color: $shadowhover;
            box-shadow: .2em .2em 0 0 $hover;
            font-weight: bold;
            color: white;
        }
        &:active{
            transition: cubic-bezier(.26,.08,.33,1);
            background-color: $hover;
            box-shadow: .2em .2em 0 0 $shadowhover;
            
        }
    }
}

.containerEdition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .inputEdit {
        all: unset;
        display: flex;
        background-color: white;
        width: 93%;
        padding: .5em;
        margin-bottom: 1em;
        margin-top: .5em;
    }
    
    .textEdit {
        padding: .5em;
        width: 93%;
        height: 20em;
        margin-top: .5em;
    }
    
    .labelsEdit {
        color: white;
    }
}


