.containerPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.adminOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items:flex-start;
    margin-top: 1em;

    .buttons {
        display: flex;
        margin-bottom: 1em;
    }
    .getButton {
        margin-right:  1em;
        padding: 1em;
        width: 4em;
        background-color: $backcolor;
        color: white;
        cursor: pointer;
        &:hover{
            background-color: $hovercolor;
        }
    }

    .inputFilters{
        all: unset;
        border: .1em solid $backcolor;
        padding: .9em;
        width: 4em;
        margin-right: 1em;
    }
}
.boxPost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    width: 15em;
    border-radius: 1em;
    padding: 1em;
    background-color: $backcolor;
    margin: 0 1em 1em 0;


    .title {
        font-weight: bold;
        color: white;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        width: 3em;
        background-color: white;
        border-radius: .5em;
        font-size: .8em;
        color: black;
        cursor: pointer;
        &:hover{
            background-color: $hovercolor;
            color: white;
        }
    }

    .text{
        color: white;
    }
    
}

.postInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.deleteButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    border-radius: .5em;
    padding: 1em;
    font-size: .8em;
    background-color: white;
    cursor: pointer;
    color:black;
    &:hover{
        background-color: $hovercolor;
        color: white
    }
}

.containerEdition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.inputEdit {
    all: unset;
    display: flex;
    background-color: white;
    width: 93%;
    padding: .5em;
    margin-bottom: 1em;
}

.textEdit {
    padding: .5em;
    width: 93%;
    height: 20em;
}

.labelsEdit {
    color: white;
}

