// $backcolor: #F59871;
// $shadow: #A8512C; 
// $shadowhover: #1EA896; 
// $hover: #71F5E3;

// $backcolor: #82B2B5;
// $shadow: #273536; 
// $shadowhover: #547375; 
// $hover: #9ED7DB;

$hover: #82B2B5;
$shadow: orange; 
$base: #547375; 
// $hover: #9ED7DB;
$backcolor: #273536; 



