.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $base;
    box-shadow: 0 .3em 0 0 $shadow;
    transition: .5s cubic-bezier(.26,.08,.33,1);

    .links {
        text-decoration: none;
        color: white;
        padding: 1em;
        transition: .3s cubic-bezier(.26,.08,.33,1);
        &:hover{
            background-color: $shadow;
            color: $backcolor;         
        }
    }
}